:root {
  --color-dark: #000000;
  --background-color-dark: #ffffff;
  --border-color-dark: #eb652d;
  --color-normal: #000000;
  --background-color-normal: #868687;
  --border-color-normal: #FFFFFF;
  --color-light: #000000;
  --background-color-light: #868687;
  --border-color-light: #87919b;

  --color-hover: #eb652d;
  --background-color-hover: #eb652d;

  --link-color: #eb652d;
  --link-color-hover: #FF0000;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

/*LOADING*/
.jsa-loading {
    width: 6rem;
    height: 6rem;
    background-image: url(../img/loading.svg);
    background-size: 500% 100%;
    background-position: 0px 0px; 
    animation-name: jsa-loading-annimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@keyframes jsa-loading-annimation {
  from {
    background-position: 20rem 0px;
  }
  to {
    background-position: 0rem 0px;
  }
}

/*
.jsa-splash-background {
    background-color: var(--background-color-normal);
}
*/

/* VIEWS */
.workspace-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .dashboard-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .graph-view-oaam-functions .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-hardware .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-allocations .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  
  /* TABBAR */
  
  /* .views-tabbar {
    background-color: var(--tab-background-color);
  } */
  
  .views-tabbar .jsa-tab {
    border: 1px solid var(--color-dark) !important;
    color: var(--color-dark) !important;
  }
  
  .views-tabbar .jsa-tab-active {
    border: 1px solid var(--border-color-dark) !important;
    background-color: var(--border-color-dark) !important;
    /* color: var(--color-dark) !important; */
  }
  
  .views-tabbar .jsa-tab:hover {
    background-color: var(--border-color-dark) !important;
    border-top: 1px solid var(--views-tabbar-tab-border-color-active);
    /* color: var(--color-dark) !important; */
  }

  

.dashboard-view .jsa-view-header{
    background-color: #eb652d;
}