:root {
  --color-dark: #FFFFFF;
  --background-color-dark: #1193de;
  --border-color-dark: #00478d;
  --color-normal: #FFFFFF;
  --background-color-normal: #00478d;
  --border-color-normal: #1193de;
  --color-light: #9eadbd;
  --background-color-light: #FFFFFF;
  --border-color-light: #1193de;
  --color-hover: #00ccff;
  --background-color-hover: #00478d;

  --link-color: #1193de;
  --link-color-hover: #00ccff;


 
  --jsa-color-excited-hover:#00ccff;
  --jsa-popup-bg-color:#00478d;
  --jsa-ctrl-bg-color-button:#00ccff;
  --jsa-ctrl-bg-color-button-hover:#1193de;
  --jsa-ctrl-color-button:#00478d;
  --jsa-popup-bd-color:#537394;
  --jsa-popup-color:#FFFFFF;
}

/* Nav links */
.nav-link.disabled {
    color: #9ac8f1;
    pointer-events: none;
    cursor: default;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}



@keyframes jsa-loading-annimation {
  from {
    background-position: 20rem 0px;
  }
  to {
    background-position: 0rem 0px;
  }
}


/* Title bar */ 

.jsa-app-titlebar {
    height: var(--jsa-app-title-bar-h);
    width: 100%;
    color: var(--jsa-dialog-color);
    background-color:  #1193de;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Dashboard */

.dashboard-view .jsa-view-header{
    background-color: #00ccff;
}

/* Bubble and Properties pane*/
.jsa-bubble{
    color: #FFFFFF
}

.properties-pane .feature{
    color:#FFFFFF;
}




/* VIEWS */
.workspace-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .dashboard-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .graph-view-oaam-functions .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-hardware .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-allocations .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  
  /* TABBAR */
  
  /* .views-tabbar {
    background-color: var(--tab-background-color);
  } */
  
  .views-tabbar .jsa-tab {
    border: 1px solid var(--color-dark) !important;
    color: var(--color-dark) !important;
  }
  
  .views-tabbar .jsa-tab-active {
    border: 1px solid var(--border-color-dark) !important;
    background-color: var(--border-color-dark) !important;
    /* color: var(--color-dark) !important; */
  }
  
  .views-tabbar .jsa-tab:hover {
    background-color: var(--border-color-dark) !important;
    border-top: 1px solid var(--views-tabbar-tab-border-color-active);
    /* color: var(--color-dark) !important; */
  }

  

